# Don't share those files
#Dockerfile

.dockerignore

/../README.md

# misc
.DS_Store

# Package node module
/node_modules

# dotenv environment variables file
.env

# Logs
/src/logs

# frontend
/../frontend_chagest

# nginx
/../nginx_chagest